@use '../../assets/styles/partials/breakpoints' as *;
@use '../../assets/styles/partials/colours' as *;
@use '../../assets/styles/partials/fonts' as *;
@use '../../assets/styles/partials/mixins' as *;

.profile {
    background-color: $main-background;
    padding: 2rem 0 0 0;
    text-align: center;
    padding: 3rem 0 35em 0;

    &__heading {
        text-align: center;
        padding: 0 0 2rem 0;
    }
}