@use '../../assets/styles/partials/breakpoints' as *;
@use '../../assets/styles/partials/colours' as *;
@use '../../assets/styles/partials/fonts' as *;
@use '../../assets/styles/partials/mixins' as *;

.footer {
    padding: 5rem 0 1rem 0;
    background-color: $main-background;
    margin: -5rem 0 0 0;

    &__info {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 200;
    }
}